body {
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  margin-bottom: 30px;
  color: hsl(0, 0%, 15%);
  text-shadow: 3px 3px 3px hsl(0, 0%, 50%);
}

button {
  margin: 15px;
  padding: 15px;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  min-width: 250px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s ease;
  border: 2px solid hsl(0, 0%, 20%);
  background-color: hsl(200, 100%, 50%);
  box-shadow: 5px 5px 3px hsla(0, 0%, 0%, 0.5);
}

button:hover {
  min-width: 280px;
  background-color: hsl(200, 100%, 60%);
  box-shadow: 8px 8px 8px hsla(0, 0%, 0%, 0.5);
}

#choiceDisplayContainer {
  margin: 30px;
  font-size: 2rem;
  font-weight: 600;
}

#playerDisplay {
  margin-bottom: 10px;
}

#resultDisplay {
  font-size: 3rem;
  margin-top: 30px;
  font-weight: 900;
}

#scoreDisplayContainer {
  font-size: 2rem;
  font-weight: 700;
}

#scoreDisplayContainer > div:has(#playerScoreDisplay) {
  margin-bottom: 10px;
}

.greenText,
#playerScoreDisplay {
  color: hsl(120, 100%, 45%);
}

.redText,
#computerScoreDisplay {
  color: rgb(240, 0, 0);
}

#restartBtn {
  cursor: pointer;
  min-width: 160px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: 0.5s ease;
  color: hsl(0, 0%, 15%);
  background-color: white;
  border: 2px solid hsl(0, 0%, 25%);
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.5);
}

#restartBtn:hover {
  min-width: 180px;
  background-color: hsl(0, 0%, 95%);
  box-shadow: 8px 8px 10px hsla(0, 0%, 0%, 0.5);
}

.hidden {
  display: none;
}
