:root {
  --red: rgb(240, 0, 0);
  --dark: hsl(0, 0%, 15%);
  --gray: hsl(0, 0%, 95%);
  --blue: hsl(200, 100%, 50%);
  --green: hsl(120, 100%, 45%);
  --light-blue: hsl(200, 100%, 60%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  padding: 2rem;
  min-height: 100vh;
  color: var(--dark);
  text-align: center;
  background-color: var(--gray);
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 1000px;
}

h1 {
  margin-bottom: 2rem;
  font-size: clamp(3.5rem, 5vw, 5rem);
  text-shadow: 3px 3px 3px hsl(0, 0%, 50%);
}

.choicesContainer {
  gap: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  margin: 15px;
  padding: 1rem;
  color: white;
  cursor: pointer;
  min-width: 250px;
  font-weight: 600;
  font-size: 1.75rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 2px solid var(--dark);
  background-color: var(--blue);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}

button:hover {
  transform: scale(1.05);
  background-color: var(--light-blue);
  box-shadow: 8px 8px 8px hsla(0, 0%, 0%, 0.5);
}

#choiceDisplayContainer,
#scoreDisplayContainer {
  font-weight: 600;
  margin-top: 1.5rem;
  font-size: clamp(1.25rem, 2vw, 2rem);
}

#playerDisplay {
  margin-bottom: 0.5rem;
}

#resultDisplay {
  margin-top: 1rem;
  font-weight: 900;
  font-size: clamp(2rem, 4vw, 3rem);
}

.greenText,
#playerScoreDisplay {
  color: var(--green);
}

.redText,
#computerScoreDisplay {
  color: var(--red);
}

#restartBtn {
  cursor: pointer;
  min-width: 160px;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: 0.5s ease;
  color: var(--dark);
  background-color: white;
  border: 2px solid hsl(0, 0%, 25%);
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.5);
}

#restartBtn:hover {
  transform: scale(1.05);
  background-color: var(--gray);
  box-shadow: 8px 8px 10px hsla(0, 0%, 0%, 0.5);
}

.hidden {
  display: none;
}

@media (max-width: 480px) {
  button {
    min-width: 90%;
    font-size: 1.5rem;
  }

  .choicesContainer {
    align-items: center;
    flex-direction: column;
  }
}
